@media only screen and (max-width: 485px) {
  .about, .links {
    font-size: 20px;
  }
  .name {
    font-size: 65px;
  }
  .tall {
    height: 60px;
  }
  .tall-about {
    height: 90px;
  }
  .short {
    height: 20px;
  }
  .spacer {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

@media only screen and (min-width: 486px) and (max-width: 767px) {
  .about, .links {
    font-size: 20px;
  }
  .name {
    font-size: 70px;
  }
  .tall, .tall-about {
    height: 60px;
  }
  .short {
    height: 20px;
  }
  .spacer {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .about, .links {
    font-size: 30px;
  }
  .name {
    font-size: 130px;
  }
  .tall, .tall-about {
    height: 75px;
  }
  .short {
    height: 30px;
  }
}
@media only screen and (min-width: 1440px) {
  .about, .links {
    font-size: 36px;
  }
  .name {
    font-size: 170px;
  }
  .tall, .tall-about {
    height: 75px;
  }
  .short {
    height: 30px;
  }
}
body {
  background-color: #5e5768;
}

.text {
  color: white;
  font-family: 'Lora', Georgia, serif;
}
hr {
  color: white;
  width: 100%;
  border-top: 4px;
}
a:link, a:visited {
  color: white;
}
a:hover {
  color: #d3c0d2;
}
.third {
  height: 33%;
}
